.Logo {
  font-family: "Special Elite", cursive;
  position: relative;
  display: flex;
  justify-content: center;

  h1 {
    position: absolute;
    bottom: 7px;
    margin-bottom: 0;
    font-size: 6rem;
    font-size: 1.25rem;
    font-style: italic;
    font-weight: 600;
    color: #222222;
  }

  h4 {
    font-size: 6rem;
    margin-bottom: 0;
    span {
      @include text-highlight;
    }
  }
}
