.SearchResults {
  max-width: 600px;
  text-align: center;

  .results-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: normal;
  }

  .results-row {
    font-size: 1.5rem;

    small {
      display: inline-block;
      font-size: 1rem;
      max-height: 100px;
      overflow-y: scroll;
      text-align: left;
    }

    &.versus-divider {
      width: 100%;
    }

    &.tie,
    &.winner {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &.tie {
      .heading {
        font-size: 2.5rem;
        font-weight: 800;
        span {
          @include text-highlight($success);
        }
      }
    }

    &.winner {
      .heading {
        font-size: 2rem;
        font-weight: 800;
      }
      i {
        font-size: 2.5rem;
        @include text-highlight($success);
      }
    }
  }

  .share-section {
    .heading {
      font-size: 1.25rem;
      span {
        @include text-highlight;
      }
    }

    form {
      max-width: 450px;
      margin: 0 auto;
    }
  }

  .back-button {
    font-size: 2rem;
    @include text-highlight;
  }
}
