.SearchForm {
  max-width: 600px;
  text-align: center;

  .form-control {
    text-align: center;
    font-size: 1.5rem;
    padding: 10px 12px;
    border-radius: 0;
    border: 3px solid #111;
  }

  .versus-divider {
    font-size: 1.75rem;
    font-weight: normal;
    color: $gray-2;
    &::before,
    &::after {
      flex: 0 0 25px;
    }
  }

  button {
    font-size: 3rem;
    @include text-highlight;
  }
}
